{% extends 'base.html' %}
{% block title %}Welcome to UniverseRP{% endblock %}
{% block content %}

<!-- Main Content -->
<div class="main-content p-4">
  <div class="row">
    {% for img in all_images %}
    <div class="column" onclick="copyURL(this)">
      <div class="shine-overlay">
        <img src="{{ img.src }}" alt="{{ img.alt }}" />
        <div class="shine"></div>
      </div>
      <span class="tooltip"></span>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  // Convert server-side all_images to JavaScript variable
  var allImages = {{ all_images | tojson }};
</script>
{% endblock %} 
